In [1]:
# Imbalanced dataset means where there is unequal class distribution

In [2]:
import pandas as pd
import numpy as np

In [3]:
creditdf = pd.read_csv("credit_data.csv")

In [4]:
creditdf.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
creditdf.Class.value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [7]:
# This indicates that this is highly imbalanced dataset
# 0 represents legal transacation and 1 represnts fraudulant transaction

In [8]:
# seperating the legit and fraud transactions
legit = creditdf[creditdf.Class == 0]
fraud = creditdf[creditdf.Class == 1]

In [11]:
legit.shape

(284315, 31)

In [12]:
fraud.shape

(492, 31)

In [13]:
# Under Sampling
# This means we will take a sample dataset containing 492 legit transacation
legit_sample = legit.sample(n=492)

In [14]:
legit_sample.shape

(492, 31)

In [20]:
#concatinating the two dataframe
newDf= pd.concat([legit_sample,fraud],axis=0)

In [21]:
newDf.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
71541,54332.0,-0.845937,0.699159,1.954529,1.735415,-0.550769,0.785320,-0.306700,0.751504,0.270437,...,-0.229098,-0.339722,0.070876,0.106001,-0.338826,-0.439992,0.114896,0.071237,25.90,0
65058,51412.0,-0.899574,0.810885,1.675046,-0.057372,0.318539,-0.899597,0.426254,-0.011881,-0.697733,...,-0.127709,-0.312654,-0.053936,0.550685,-0.452160,-0.001548,0.245808,0.167514,0.99,0
176935,122974.0,-0.044764,0.645106,0.245390,-0.217676,0.578699,-1.066504,0.880370,-0.218062,-0.268530,...,0.377881,1.103886,-0.156049,-0.043377,-0.661050,0.449028,0.162050,0.209876,10.53,0
231096,146611.0,2.119092,-0.192374,-2.282244,-0.645700,0.563969,-1.234259,0.637818,-0.494644,0.487777,...,0.095896,0.431375,-0.022199,0.724780,0.333403,1.050103,-0.144826,-0.082262,27.83,0
239111,149955.0,2.215568,-0.603204,-1.289768,-0.884913,-0.491555,-1.329781,-0.234891,-0.477689,-0.714084,...,0.453063,1.394733,-0.021771,0.081071,0.228886,0.067614,-0.028240,-0.063390,15.00,0

In [22]:
newDf.shape

(984, 31)

In [23]:
newDf.Class.value_counts()

0    492
1    492
Name: Class, dtype: int64