In [1]:
# The mapping from textual data to real valued vector is called feature extraction
# BOG(Bag of Words): list of unique words in text corpus
# Term frequency- Inverse Document Frequency (TF-IDF)

In [2]:
# importing libraries for numerical dataset preprocessing

In [3]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_diabetes
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [4]:
diabetes = load_diabetes()

In [5]:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [6]:
df = pd.DataFrame(diabetes.data,columns=diabetes.feature_names)

In [7]:
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [8]:
df['target'] = diabetes.target

In [9]:
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [10]:
diabetesdf = pd.read_csv("diabetes.csv")

In [11]:
diabetesdf.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
# number of rows and columns
diabetesdf.shape

(768, 9)

In [13]:
diabetesdf.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
# seperating targets and features
X = diabetesdf.drop(columns="Outcome",axis=1)

In [15]:
Y = diabetesdf.Outcome

In [16]:
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [17]:
# Data Standarization

In [18]:
scaler = StandardScaler()

In [19]:
standardizedX = scaler.fit_transform(X)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(standardizedX, Y, test_size=0.2,random_state=2)

In [21]:
# Textual Data Pre-processing

In [ ]:
textdf = pd.read_csv("fake_news_dataset.csv")

In [ ]:
import re

In [ ]:
from nltk.corpus import stopwords

In [ ]:
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from sklearn.model_selection import train_test_split

In [ ]:
nltk.download('stopwords')

In [ ]:
print(stopwords.words('english'))

In [ ]:
# Textual Data preprocessing
textdf.shape

In [ ]:
# checking for missing values
textdf.isnull().sum()

In [ ]:
# for missing value hanlde in text preprocessing we need to replace missing values with null string
textdf = textdf.fillna('')

In [ ]:
# Merging author name and news title
textdf['content'] = textdf['author']+' ' + textdf['title']

In [ ]:
textdf.head()

In [ ]:
# seperating feature and target
X = textdf.drop(columns='label',axis=1)
Y= textdf['label']

In [ ]:
print(X.content)

In [ ]:
# Stemming
# Stemming is the process of reducing a word into a keyword
# enjoying, enjoyed -> their root word is enjoy. Stemming reduce them into their root word

In [ ]:
port_stem = PorterStemmer()

In [ ]:
def stemming(content):
    # remove all the punctuation
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    #converting to lower case
    stemmed_content = stemmed_content.lower()
    # splitting into array
    stemmed_content = stemmed_content.split()
    # looping through it
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words("english")]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [ ]:
textdf['content'] = textdf['content'].apply(stemming)

In [ ]:
print(textdf['content'])

In [ ]:
X = textdf['content']
Y = textdf['label']

In [ ]:
# converting textual data to feature vectors
vectorizer = TfidfVectorizer()
vectorizer.fit(X)
X= vectorizer.transfor(X)